* {
    padding: 0;
    margin: 0;
}

:root {
    --opacity: 1;
    --primary: #1A2238;
    --secondary: #0A1941;
    --purple: #7E0E42;
    --white: #fff;
    --black: #000;
    --text: #010101;
    --heading-color: #213654;
    --light-blue: #0170CF;
}

body {
    font-family: "Montserrat", Sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.nowcalling {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;
    background-color: var(--secondary);
    color: var(--white);
    padding: 20px 0;
}

.rcol {
    text-align: right;
}

.primary-bttn {
    background-color: var(--light-blue);
    padding: 10px 60px;
    color: var(--white);
    font-size: 30px;
    font-weight: 800;
    border-radius: 10px;
    border: none;
}

.countdown_section {
    border: 2px solid var(--light-blue);
    padding: 10px 60px;
    font-size: 30px;
    width: 50%;
    text-align: center;
    border-radius: 10px;
}

.banner {
    padding: 40px 0;
    background: var(--primary);
}

.button-text {
    margin: 0% 0% 0% 0%;
    padding: 15px 15px 15px 15px;
    background-color: transparent;
    background-image: linear-gradient(200deg, #7F0F42 0%, #151D51 100%);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #C7C7C7;
    border-radius: 7px 7px 7px 7px;
}

.top_buton {
    margin: 0 auto;
}

.heading {
    /*    color: var(--white);*/
    font-size: 41px;
    font-weight: 700;
    /*    text-transform: uppercase;*/
    line-height: 1.3em;
}

.heading span {
    color: var(--light-blue);
}

.subheading {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.3em;
}

.schedule_points li {
    color: var(--black);
    list-style: none;
    font-size: 20px;
    background-color: var(--white);
    float: left;
    width: 50%;
    float: left;
    width: 45%;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}

.schedule_points li i {
    color: var(--light-blue);
}

.button-pra {
    font-size: 14px;
    color: #fff;
    font-family: 'Poppins';
    margin-bottom: 0;
    text-transform: capitalize;
}

#countdown {
    display: flex;
    justify-content: center;
    border: 2px solid var(--light-blue);
    padding: 5px 5px 5px 5px;
    border-radius: 7px;
}

#countdown>div {
    margin-right: 1rem;
    color: #fff;
}

#countdown>div:last-child {
    margin-right: 0;
}

#countdown span {
    font-size: 30px;
    color: #fff;
    font-weight: 800;
}

.high-returns {
    padding: 40px 0;
    background-color: var(--white);
}

.answer-pointers {
    padding: 30px;
    background-color: var(--primary);
    color: var(--white);
    border: 1px solid var(--light-blue);
    border-radius: 10px;
    height: 100%;
}

.answer-pointers li {
    font-size: 22px;
    font-weight: 500;
    list-style: none;
    line-height: 27px;
    background: url(../images/white-tick.png) no-repeat left 8px;
    padding: 0 0 0px 30px;
    color: #fff;
    margin-bottom: 10px;
}

.high-returns img {
    border-radius: 10px;
}

.bg-dark {
    background: #000922 !important;
}

.default-btn {
    background-color: #0470CF;
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 24px;
    padding: 25px;
    font-weight: 500;
    border-radius: 6px;
    text-transform: capitalize;
}

.default-btn h2 {
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.3em;
    -webkit-text-stroke-color: #000;
    stroke: #000;
}

.default-btn p {
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}

.points-wrap {
    border: 1px solid #0470CF;
    border-radius: 8px;
    padding: 20px;
    color: #fff;
    background-color: #0A1941;
}

.pointer-p {
    font-size: 22px;
    font-weight: 500;
}

.points-wrap i {
    font-size: 40px;
}


.flex-box img {
    max-width: 120px;
}

.fw-700 {
    font-weight: 700;
}

.mentors-img {
    filter: drop-shadow(2px 4px 6px #e2e2e2);
}

.color-red {
    color: #E81313;
}

.color-green {
    color: green;
}

.color-purple {
    color: #4718F7;
}

.fnt-21 {
    font-size: 21px;
}

.prices-text h3:nth-child(1) {}

.prices-text h3:nth-child(2) {
    font-weight: 700;
    font-size: 38px;

}

.prices-text h3:nth-child(3) {
    font-weight: 800;
    font-size: 38px;

}

.prices-text h3:nth-child(4) {
    font-size: 60px;
    font-weight: 800;

}

.bonus-head {
    padding: 9px 15px 9px 15px;
    background-color: transparent;
    background-image: linear-gradient(200deg, #7F0F42 0%, #151D51 100%);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #C7C7C7;
    border-radius: 7px 7px 7px 7px;
    color: #fff;
    width: fit-content;
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: -42px;
}

.bonus-wrap {
    border: 2px solid #7F0F42;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 3px 3px 0px #7F0F42;

}

.box-shadow {
    box-shadow: 0px 0px 10px rgb(0 0 0 / 15%);
}

.faq .accordion-item {
    margin-bottom: 20px;
    border: none;
    border-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.faq .accordion-button:not(.collapsed) {
    color: var(--theme-secondary);
    background-color: transparent;
    box-shadow: none;
}

.faq .accordion-button {
    border-radius: 0.5rem !important;
    font-size: 1.2rem;
    font-weight: 700;
}

.accordion-button:focus {
    box-shadow: none;
}

/* ==========
footer
================== */
.social-icon li {
    display: inline-block;
}

.social-icon li a {
    padding-right: 5px;
    display: block;
}

.social-icon li a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--theme-primary);
    border-radius: 50%;
    text-align: center;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    color: var(--theme-secondary);
    font-size: 20px;
}

.social-icon li a:hover i {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
}

.support-links li a {
    color: #fff;
}

.support-links li:not(:last-child) {
    margin-right: 10px;
}

.support-links li {
    display: inline-block;
}

.fw-600 {
    font-weight: 600;
}

#countdown {
    display: flex;
    justify-content: center;
    border: 2px solid #fff;
    padding: 5px 5px 5px 5px;
    border-radius: 7px;
}

#countdown>div {
    margin-right: 1rem;
    color: #fff;
    font-size: 16px;
    text-align: center;
}

#countdown>div:last-child {
    margin-right: 0;
}

#countdown span {
    font-size: 30px;
    color: #fff;
    font-weight: 800;
}

@media (max-width:991.98px) {
    .subheading {
        font-size: 26px;
        line-height: 1.1em;
    }

    .heading {
        font-size: 33px;
        line-height: 1.3em;
    }
    .prices-text h3:nth-child(2) {
        font-weight: 700;
        font-size: 30px;
    }
    .prices-text h3:nth-child(3) {
        font-weight: 700;
        font-size: 30px;
    }
    .default-btn h2 {
        font-size: 30px;
    }
}

@media (max-width:767px) {
    .accordion-header button{
        font-size: 1rem !important;
    }
    .default-btn h2 {
        font-size: 22px;
    }

    .default-btn p {
        font-size: 14px;
    }

    .answer-pointers li {
        font-size: 17px;
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.3rem;
    }

    p {
        font-size: 16px;
    }

    .fnt-sm-16 {
        font-size: 16px;
    }

    .heading {
        font-size: 26px;
        line-height: 1.2em;
    }

    .subheading {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2em;
    }
    .prices-text h3:nth-child(4) {
        font-size: 36px;
        font-weight: 800;
    }
    .prices-text h3:nth-child(2) {
        font-weight: 700;
        font-size: 26px;
    }
    .prices-text h3:nth-child(3) {
        font-weight: 800;
        font-size: 26px;
    }
    .flex-box img {
        max-width: 100px;
    }

}

@media(max-width:424.98px) {
    #countdown>div {
        margin-right: 0.5rem;

    }

    #countdown span {
        font-size: 20px;
        font-weight: 700;
    }
}