*{padding: 0; margin: 0;}
:root {
    --opacity: 1;
    --primary: #1A2238;
    --secondary: #0A1941;
    --purple: #7E0E42;
    --white: #fff;
    --black: #000;
    --text: #010101;
    --heading-color: #213654;
    --light-blue: #0170CF;
}
body{
    font-family: "Montserrat", Sans-serif;
}
a{
    text-decoration: none;
}
.nowcalling {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;
    background-color: var(--secondary);
    color: var(--white);
    padding: 20px 0;
}
.rcol{
    text-align: right;
}
.primary-bttn{
    background-color: var(--light-blue);
    padding: 10px 60px;
    color: var(--white);
    font-size: 30px;
    font-weight: 800;
    border-radius: 10px;
    border: none;
}
.countdown_section{
    border: 2px solid var(--light-blue);
    padding: 10px 60px;
    font-size: 30px;
    width: 50%;
    text-align: center;
    border-radius: 10px;
}
.banner{
    padding: 40px 0;
    background: var(--primary);
}
.button-text {
    margin: 0% 0% 0% 0%;
    padding: 15px 15px 15px 15px;
    background-color: transparent;
    background-image: linear-gradient(200deg, #7F0F42 0%, #151D51 100%);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #C7C7C7;
    border-radius: 7px 7px 7px 7px;
}
.top_buton{
    margin: 0 auto;
}
.heading{
/*    color: var(--white);*/
    font-size: 41px;
    font-weight: 700;
/*    text-transform: uppercase;*/
    line-height: 1.3em;
}
.heading span{
    color: var(--light-blue);
}
.subheading{
    font-size: 30px;
    font-weight: 500;
    line-height: 1.3em;
}
.schedule_points li{
    color: var(--black);
    list-style: none;
    font-size: 20px;
    background-color: var(--white);
    float: left;
    width: 50%;
    float: left;
    width: 45%;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}
.schedule_points li i {
    color: var(--light-blue);
}
.button-pra {
    font-size: 14px;
    color: #fff;
    font-family: 'Poppins';
    margin-bottom: 0;
    text-transform: capitalize;
}
#countdown {
  display: flex;
  justify-content: center;
  border: 2px solid var(--light-blue);
  padding: 5px 5px 5px 5px;
  border-radius: 7px;
}

#countdown > div {
  margin-right: 1rem;
  color:#fff;
}

#countdown > div:last-child {
  margin-right: 0;
}
#countdown span{
    font-size: 30px;
    color: #fff;
    font-weight: 800;
}
.high-returns{
    padding: 40px 0;
    background-color: var(--white);
}
.answer-pointers {
    padding: 30px;
    background-color: var(--primary);
    color: var(--white);
    border: 1px solid var(--light-blue);
    border-radius: 10px;
}
.answer-pointers li{
    font-size: 22px;
    font-weight: 500;
    list-style: none;
    line-height: 27px;
    background: url(../images/white-tick.png) no-repeat left 8px;
    padding: 0 0 0px 30px;
    color: #fff;
    margin-bottom: 10px;
}
.high-returns img{
    border-radius: 10px;
}